


<div class="shell">
    <!-- Main -->

    <div id="main">
        <div class="cl">&nbsp;</div>
        <!-- Content -->
        <div id="content">
            <!-- Content Slider -->
            <div id="slider" class="box">
                <div id="slider-holder">
                    <ul >
                        <li><a href="#"><img src="assets/images/bijoux3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/bijoux4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/bijoux2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/bijoux1.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div id="slider-nav">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                </div>
            </div>
            <!-- End Content Slider -->

            <!-- Products -->
            <div class="products">
                <div class="cl">&nbsp;</div>
                <ul>
                    <li>
                        <a href="#"><img src="assets/images/big1.jpg" alt="" /></a>
                        <div class="product-info">
                            <h3>LOREM IPSUM</h3>
                            <div class="product-desc">
                                <h4>WOMEN’S</h4>
                                <p>Lorem ipsum dolor sit<br /> amet</p>
                                <strong class="price">$58.99</strong>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/big1.jpg" alt="" /></a>
                        <div class="product-info">
                            <h3>LOREM IPSUM</h3>
                            <div class="product-desc">
                                <h4>WOMEN’S</h4>
                                <p>Lorem ipsum dolor sit<br /> amet</p>
                                <strong class="price">$58.99</strong>
                            </div>
                        </div>
                    </li>
                    <li class="last">
                        <a href="#"><img src="assets/images/big1.jpg" alt="" /></a>
                        <div class="product-info">
                            <h3>LOREM IPSUM</h3>
                            <div class="product-desc">
                                <h4>WOMEN’S</h4>
                                <p>Lorem ipsum dolor sit<br /> amet</p>
                                <strong class="price">$58.99</strong>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Products -->
        </div>
        <!-- End Content -->

        <!-- Sidebar -->
        <div id="sidebar">
            <!-- Search -->
            <div class="box search">
                <h2>Search by <span></span></h2>
                <div class="box-content">
                    <form action="#" method="post">
                        <div class="box-content">
                            <label for="name-select">Nom</label>
                            <div class="custom-select-wrapper">
                                <select id="name-select" class="custom-select">
                                    <option value="alphabeticalOrderSelect1" selected>A-to-Z</option>
                                    <option value="alphabeticalOrderSelect2">Z-to-A</option>
                                </select>
                            </div>
                    
                            <label for="category-select">Categories</label>
                            <select id="category-select" class="form-select">
                                <option selected>select catégorie</option>
                                <option value="1">categorie1</option>
                                <option value="2">categorie2</option>
                                <option value="3">categorie3</option>
                            </select>
                    
                            <div class="inline-field">
                                <label for="price-range">Prix </label>
                                <div class="slidecontainer">
                                    <input type="range" min="1" max="100" value="50" class="slider" id="price-range">
                                </div>
                            </div>
                    
                            <input type="submit" class="search-submit" value="chercher">
                            
                        </div>
                        
                    </form>
                </div>
            </div>
            <!-- End Search -->

            <!-- Categories -->
            <div class="box categories">
                <h2>Categories <span></span></h2>
                <div class="box-content">
                    <ul>
                        <li><a href="textiles">Textiles</a></li>
                        <li><a href="ceramiqueetpoterie">Ceramique et poterie</a></li>
                        <li><a href="bijouterie">Bijouterie</a></li>
                        <li><a href="bois">Bois</a></li>
                        <li><a href="nourriture">Nourriture</a></li>
                    
                    </ul>
                </div>
            </div>
            <!-- End Categories -->
        </div>
        <!-- End Sidebar -->

        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Main -->

    <!-- Side Full -->
    <div class="side-full">
        <!-- More Products -->
        <div class="more-products">
            <div class="more-products-holder">
                 <ul>
                    <li><a href="#"><img src="assets/images/Art1.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art2.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art3.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art4.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art5.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art6.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art7.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art8.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art9.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art10.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art11.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art12.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art13.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art14.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art15.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art16.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art17.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art18.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art19.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="assets/images/Art20.jpg" alt="" /></a></li>
                    <li class="last"><a href="#"><img src="assets/images/Art21.jpg" alt="" /></a>
                </ul> 
            </div>
            <div class="more-nav">
                <a href="#" class="prev">previous</a>
                <a href="#" class="next">next</a>
            </div>
        </div>
        <!-- End More Products -->
    </div>
</div>
<!-- End Shell -->